<form class="register-form">
    <div class="login-text">
        <p>“Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever… It remembers little things, long after you have forgotten everything.”
            <br> — Aaron Siskind</p>
        <p>Please log in using Facebook to access your photos.</p>
    </div>

    <button class="facebook-register">
        <a href="/auth/facebook"><i class="fa fa-facebook-square fa-lg"></i> Login with Facebook</a>
    </button>

    <!--
    <div class="register-wrap">
        <h2>Register</h2> Name:
        <input class="register-name" ng-model="user.name" type="text" required></input>
        <br>
        <br> E-mail:
        <input class="register-email" ng-model="user.email" type="text" required></input>
        <br>
        <br> Telephone:
        <input class="register-telephone" ng-model="user.telephone" type="text"></input>
        <br>
        <br> Password:
        <input class="register-password" ng-model="user.password" type="password" required></input>
        <br>
        <br>
        <button class="register-submit" ng-click="register()">Sign Up</button>
    </div>
-->

    <!--
    <div class="login-wrap">

        <h2>Login</h2> E-mail:
        <input class="login-email" ng-model="user.email" type="text" required></input>
        <br>
        <br> Password:
        <input class="login-password" ng-model="user.password" type="password" required></input>
        <br>
        <br>
        <button class="login-submit" ng-click="login()">Login</button>
    </div>
-->


</form>


<div id="slider">
    <div class="login-dimmer"></div>

    <figure>
        <img src="http://3.bp.blogspot.com/-bjBmy6B2znE/VmIX8DLfZKI/AAAAAAAAHmY/YJRcAltoXFk/s1600/famweb.jpg" alt="">
        <img src="http://1.bp.blogspot.com/-oEaquMT0-Go/Vkf-yH-7K7I/AAAAAAAAHgg/6lH539LeeyE/s1600/fam2.jpg" alt="">
        <img src="http://4.bp.blogspot.com/-bVgIVvF1aAI/Vje9s-YzJ9I/AAAAAAAAHe0/vKeY_of4N-g/s1600/3webhk.jpg" alt="">
        <img src="http://3.bp.blogspot.com/-f3hbx_mUDb0/VisOIFIkWZI/AAAAAAAAHco/n3d9PJ9CpHs/s1600/p1.jpg" alt="">
        <img src="http://3.bp.blogspot.com/-bjBmy6B2znE/VmIX8DLfZKI/AAAAAAAAHmY/YJRcAltoXFk/s1600/famweb.jpg" alt="">
    </figure>

</div>